/* disable pagination on head/tail pages */
#pagination:has(> :only-child) {
    display: none
}

/* hide mobile menu button (has no content) */
button[aria-label="More actions"] {
    display: none
}

/* make navigation logo taller */
.nav-logo {
    height: 5rem
}

/* sidebar - elevate, make transparent, fade elements towards bottom, hide mozilla scrollbars */
#sidebar {
    background: transparent;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    z-index: 3;

    scrollbar-width: none;
}
/* sidebar - hide language picker */
#sidebar > ul {
    display: none;
}
/* sidebar - search box */
#search-bar-entry {
    background: transparent;
    border: white 2px solid;
    color: white;

    font-family: "Audiowide", sans-serif;
}
/* sidebar - search box icon */
#search-bar-entry svg {
    color: white;
}
/* sidebar - virtual scrolling space */
#sidebar-content {
    padding-bottom: 40rem;
}
/* sidebar - hide webkit scrollbar */
#sidebar-content::-webkit-scrollbar {
    display: none;
}

/* content area - above background */
#content-container {
    z-index: 4;
}

/* background - overlay effects and image */
.background-noise {
    position: fixed;
    z-index: 2;

    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    opacity: 0.4;

    background-image: url("https://midio.sirius.cam/theme/noise.png");
    background-repeat: repeat;
    background-size: auto;
}
.background-filter {
    position: fixed;
    z-index: 1;

    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;

    backdrop-filter: blur(10px);
}
.background {
    display: block;
    position: fixed;
    z-index: 0;

    object-fit: cover;
    opacity: 0.2;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}