.welcome-card-image {
    display: block;
    opacity: 0.8;
    transform: scale(1);
    transition: filter 150ms ease-out, transform 150ms ease-out
}
.welcome-card-image:hover {
    transform: scale(1.05);
    filter: invert(1) hue-rotate(180deg) brightness(0.7)
}
.welcome-card-image:active {
    transform: scale(0.95);
}

.welcome-content {
    display: block;
    position: relative;
    z-index: 3;

    text-align: center;
}

.welcome-effect {
    display: block;
    position: absolute;
    z-index: 2;

    object-fit: cover;
    opacity: 0.2;

    top: 50%;
    left: 50%;

    transition: transform 300ms ease-out;
    transform: scale(1.5) translate(-25%, -25%);

    width: 100%;
    height: 100%;
}
.welcome-effect-container {
    display: block;
    position: fixed;
    z-index: 2;

    top: 0;
    bottom: 0;

    right: 0;
    width: calc(100vw - 19rem);
    overflow: hidden;
}